body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

iframe {
	width:  680px;
	height:  300px;

}



input, select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

#transactions {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}
